@import "../../styles/mixins/Mixins.less";
@import "../../styles/MainStyles.less";

.AuthenticationView {
  position: relative;
  height: 100vh;
  width: 100vw;

  .authentication-view-container {
    .flex;
    padding-top: 20vh;

    .AuthenticationForm {
      .form;
      .bordered;
      .rounded;
      background-color: @white;

      text-align: center;

      width: 400px;
      max-width: 100vw;

      & > * {
        width: 100%;
      }

      input[type="submit"] {
        &:not(:disabled) {
          .shadowed-button (@color: @uvu-green);
        }
        &:disabled {
          .shadowed-button (@color: @gray);
        }
        .rounded;
        .padding-smaller;
        .big-text;
      }
    }
  }
}
