.padding () {
  padding: 1.2rem 2.6rem;
}
.padding-small () {
  padding: 1rem 1.7rem;
}
.padding-smaller () {
  padding: 0.7rem 1.5rem;
}
.padding-tall () {
  padding: 1rem 0.9rem;
}

.flex () {
  display: flex;
  flex-direction: column;
}

.gap () {
  gap: 0.7rem;
}

.gap-small () {
  gap: 0.3rem;
}
